<header>
  <nav id="sc2">
    <ul>
      <label class="checkbox-label" for="toggle" title="Click to view">
        <i class="fas fa-bars"></i>
      </label>

      <input type="checkbox" id="toggle" class="visually-hidden" />

      <li class="logo">
        <a routerLink="/" title="Home">
          <img
            src="../../assets/logo.png"
            alt=" logo"
            width="120px"
            height="70px"
            style="padding-left: 20px; padding-bottom: 5px; margin-top: 10px"
          />
        </a>
      </li>

      <li class="nav-item active">
        <a
          routerLink="/"
          title="Home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img
            src="../../assets/home.png"
            class="mr-2"
            alt="Home"
            style="display: inline-block; padding-bottom: -40px; margin-top: 10px"
            width="40px"
            height="40px"
          />
          Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="signup" alt="sign up" 
      
        routerLinkActive="active">
          <img
            src="../../assets/signup.png"
            class="mr-2"
            alt="signup"
            style="display:inline-block; padding-bottom: 0px; margin-top: 30px"
            width="30px"
          />
          Sign Up
        </a>
      </li>
    </ul>
  </nav>
</header>
<br />
