<header>
  <nav id="sc2">
    <ul>
      <label class="checkbox-label" for="toggle" title="Click to view">
        <i class="fas fa-bars"></i>
      </label>
      <input type="checkbox" id="toggle" class="visually-hidden" />
      <li class="logo">
        <img
          src="../../assets/logo.png"
          alt=" logo"
          width="120px"
          style="padding-left: 20px; padding-bottom: 5px; margin-top: 10px"
        />
      </li>
      <li class="nav-item active">
        <a
          routerLink="/"
          title="Home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img
            src="../../assets/home (1).png"
            class="mr-2"
            alt="Home"
            style="display: inline-block; padding-bottom: 0px; margin-top: 5px"
            width="30px"
          />
          Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="signup" alt="sign up" routerLinkActive="active">
          <img
            src="../../assets/home (2).png"
            class="mr-2"
            alt="signup"
            style="display: inline-block; padding-bottom: 0px; margin-top: 5px"
            width="30px"
          />
          Sign Up
        </a>
      </li>
    </ul>
  </nav>
</header>
<br />

<div class="home-wrapper">
  <div class="row">
    <div
      class="col-xl-12"
      style="background-image: url(../../assets/pexels-photo-280490.jpeg)"
    >
      <div data-aos="zoom-in-down" data-aos-duration="1000" class="intro-card">
        <div
          class="intro-card-body"
          style="
            font-size: 70px;
            text-align: center;
            font: bolder;
            margin-top: 100px;
            color: blanchedalmond;
          "
        >
          Address Advisor
          <div style="text-align: center">
            <a
              type="button"
              style="float: center"
              routerLink="signup"
              class="btn btn-dark"
            >
              <Span> Click Here to Sign Up</Span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-xl-12">
        <div
          data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"
          class="intro-card box-shadow-4 same-height"
        >
          <div class="intro-card-title">
            <div class="card-icon">Discover our Service:</div>
            <div class="intro-card-body ;" style="text-align: center">
              <p>
                An “Address” today has come a long way from being a mere
                necessity to an identity that speaks of stature; to a resource
                that enhances efficiency; to an environment that optimizes
                ergonomics. At Address Advisors we deliver spaces that surpass
                the client’s requirements by leveraging our superior market
                intelligence, data- driven research, proven processes and
                personalised approach to help you throughout the built life
                cycle.
              </p>
              <br />
            </div>
          </div>

          <br />
          <br />
          <div class="container-fluid">
            <div class="row no-gutters">
              <div class="col-xl-4">
                <div
                  data-aos="zoom-in-down"
                  data-aos-duration="1000"
                  class="intro-card box-shadow-4 same-height"
                >
                  <div class="intro-card-body">
                    <img
                      src="../../assets/two.jpg"
                      width="300"
                      height="250"
                      alt="image"
                    />
                  </div>
                </div>
              </div>
              <div class="col-xl-4">
                <div
                  data-aos="zoom-in-down"
                  data-aos-duration="1000"
                  class="intro-card box-shadow-4 same-height"
                >
                  <div class="intro-card-body">
                    <img
                      src="../../assets/three.jpg"
                      width="300"
                      height="250"
                      alt="image"
                    />
                  </div>
                </div>
              </div>
              <div class="col-xl-4">
                <div
                  data-aos="zoom-in-down"
                  data-aos-duration="1000"
                  class="intro-card box-shadow-4 same-height"
                >
                  <div class="intro-card-body">
                    <img
                      src="../../assets/one.jpg"
                      width="300"
                      height="250"
                      alt="image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />

          <div class="container-fluid">
            <div class="row no-gutters">
              <div class="col-xl-12">
                <div class="group">
                  <label for="join"> Join Us To Know More </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
